/* CSE 219 Journey Through Europe
   Brian Yang */

.label-small {

}

.label-med {
    -fx-font-size: 1.1em;
    -fx-text-fill: #fff;
}

.label-large {
    -fx-font-size: 2.0em;
    -fx-text-fill: #fff;
}

.player-name {
    -fx-padding: 9px 0 0 9px;
}

.sidebar {
    -fx-background-color:#81b5dd;
    -fx-padding: 10px;
}

.start-game-button {
    -fx-background-color:#004ba7;
}

.button-large {
    -fx-font-size: 2.5em;
    -fx-background-color:#ecc323;
    -fx-background-radius: 30;
}

.button-normal {
    -fx-font-size: 1.9em;
    -fx-background-color:#ecc323;
    -fx-background-radius: 30;
}

.dialog-button {
    -fx-font-size: 1.1em;
    -fx-background-color:#ecc323;
    -fx-background-radius: 30;
}

.button-normal:hover, .button-large:hover, .start-game-button:hover, .dialog-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 0);
}